<div>
  <h2>Authentication debug informations</h2>
  <table>
    <tr>
      <th>isDoneLoading</th>
      <td>{{authenticationService.isDoneLoading$ | async}}</td>
    </tr>
    <tr>
      <th>isAuthenticated</th>
      <td>{{authenticationService.isAuthenticated$ | async}}</td>
    </tr>
    <tr>
      <th>canActivateProtectedRoutes</th>
      <td>{{authenticationService.canActivateProtectedRoutes$ | async}}</td>
    </tr>
    <tr>
      <th>hasValidAccessToken</th>
      <td>{{authenticationService.hasValidAccessToken$ | async}}</td>
    </tr>
    <tr>
      <th>AccessToken</th>
      <td><code class="break-all">{{authenticationService.accessToken$ | async}}</code></td>
    </tr>
    <tr>
      <th>hasValidIdToken</th>
      <td>{{authenticationService.hasValidIdToken$ | async}}</td>
    </tr>
    <tr>
      <th>IdToken</th>
      <td><code class="break-all">{{authenticationService.idToken$ | async }}</code></td>
    </tr>

    <tr>
      <th>IdentityClaims</th>
      <td><pre><code>{{identityClaimsPretty$ | async }}</code></pre></td>
    </tr>


  </table>
</div>
